name: flutter_google_places_sdk_ios_example
description: Demonstrates how to use the flutter_google_places_sdk plugin.

publish_to: 'none'

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_google_places_sdk_ios:
    path: ../

  cupertino_icons: ^1.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
