name: flutter_google_places_sdk_android
description: A Flutter plugin for google places sdk that uses the native libraries on each platform
version: 0.1.7
homepage: https://github.com/matanshukry/flutter_google_places_sdk/tree/master/flutter_google_places_sdk_android

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_google_places_sdk_platform_interface: ^0.2.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.3.2

flutter:
  plugin:
    platforms:
      android:
        package: com.msh.flutter_google_places_sdk
        pluginClass: FlutterGooglePlacesSdkPlugin
